.verifier-container{
    background: #EAEAE9;
    display: flex;
}
.verifier-main-container{
    padding: 20px;
    padding-left: 40px;
}
.verifier-dashboard{
    color: #0A512F;
    font-size: 13px;
    font-weight: 700;
}
.verifier-main-container span{
    font-size: 20px;
}
.all-stats-container{
    display: flex;
    flex-wrap: wrap;
}
.each-stat-container{
    height: 100px;
    width: 300px;
    display: flex;
    margin-right: 4%;
    margin-bottom: 20px;
}
.stat-img-container{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0A512F;
}
.stat-info-container{
    background: white;
    width: 200px;
    padding-left: 20px;
}
.stat-info-container p{
    font-size: 18px;
    font-weight: 700;
    color: black;
}


.loader-container{
    background-color: white;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}
.verifier-applied-loans-container{
    background-color: white;
    margin-right: 10%;
    padding-top: 30px;
}
.verifier-loan-status{
    font-size: 10px;
    color: white;
    height: 20px;
    background-color: rgb(197, 153, 10);
    padding: 5px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}